.footer {
    padding: 12px 80px 12px 80px;
    background-color: #f4f4f4;
}

.sub_footer {
    display: flex;
    justify-content: space-around;
}

.social {
    margin: auto;
}

p > img {
    padding-right: 40px;
}

.footer_list_header {
    font-family: Gilroy-Bold;
    font-size: 24px;
}

.footer_list_item {
    list-style: none;
    font-family: Gilroy-Medium;
    font-size: 20px;
    padding-left: 100px;
}